source ../../../Makefile.config

echo "$LEGUP_HOME"

# files that modelsim should include
VERILOG_LIBS=$LEGUP_HOME/ip/libs/altera/ 
GENERIC_DIVIDER_LIBS=$LEGUP_HOME/ip/libs/generic/
#VERILOG_LIBS=$LEGUP_HOME/ip/libs/altera/220model.v \
#        $LEGUP_HOME/ip/libs/altera/altera_mf.v \
#        $LEGUP_HOME/ip/libs/altera/altera_primitives.v \
#        $LEGUP_HOME/ip/libs/altera/altfp_adder_14.v \
#        $LEGUP_HOME/ip/libs/altera/altfp_adder64_14.v \
#        $LEGUP_HOME/ip/libs/altera/altfp_subtractor_14.v \
#        $LEGUP_HOME/ip/libs/altera/altfp_subtractor64_14.v \
#        $LEGUP_HOME/ip/libs/altera/altfp_multiplier_11.v \
#        $LEGUP_HOME/ip/libs/altera/altfp_multiplier64_11.v \
#        $LEGUP_HOME/ip/libs/altera/altfp_divider_33.v \
#        $LEGUP_HOME/ip/libs/altera/altfp_divider64_61.v \
#        $LEGUP_HOME/ip/libs/altera/altfp_compare32_1.v \
#        $LEGUP_HOME/ip/libs/altera/altfp_compare64_1.v \
#        $LEGUP_HOME/ip/libs/altera/altfp_truncate_3.v \
#        $LEGUP_HOME/ip/libs/altera/altfp_extend_2.v \
#        $LEGUP_HOME/ip/libs/altera/altfp_sitofp32_6.v \
#        $LEGUP_HOME/ip/libs/altera/altfp_sitofp64_6.v \
#        $LEGUP_HOME/ip/libs/altera/altfp_fptosi32_6.v \
#        $LEGUP_HOME/ip/libs/altera/altfp_fptosi64_6.v \
#        $LEGUP_HOME/ip/libs/altera/altfp_adder_13.v \
#        $LEGUP_HOME/ip/libs/altera/altfp_adder64_13.v \
#        $LEGUP_HOME/ip/libs/altera/sgate.v \
#        $LEGUP_HOME/ip/libs/generic/div_unsigned.v \
#        $LEGUP_HOME/ip/libs/generic/div_signed.v \
#        $LEGUP_HOME/ip/libs/altera/cyclonev_atoms.v \
#        $LEGUP_HOME/ip/libs/altera/cyclonev_hssi_atoms.v \
#        $LEGUP_HOME/ip/libs/altera/cyclonev_pcie_hip_atoms.v

SYSTEMVERILOG_LIBS=$LEGUP_HOME/ip/libs/altera/
#SYSTEMVERILOG_LIBS=$LEGUP_HOME/ip/libs/altera/altera_lnsim.sv \
#                    $LEGUP_HOME/ip/libs/altera/cyclonev_hps_atoms.sv

